<style>
    .empty-cart {
        text-align: center;
        width: 100%;
        font-family: "Calibri", "sans-serif";
    }
</style>
<br><br><br><br>
{{#if products}}
<div class="rowhey">
    <div class="huju">
        <ul class="list-group">
            {{#each products}}
            <li class="list-group-item">

                <strong>{{this.item.title}}</strong>
                <br>
                <div class="badge">Desc: {{this.item.description}}</div>
                <br>
                <div class="badge">Cantidad: {{this.qty}} | Precio: {{this.price}} €</div>
                <div class="btn-group" style="float: right">
                    <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">

                        <a class="dropdown-item" href="/reduce/{{this.item._id}}">Reducir 1 ud</a>
                        <a class="dropdown-item" href="/remove/{{this.item._id}}">Eliminar Producto</a>
                    </ul>
                </div>
                {{#comp this.qty 'gt' this.item.cantidad}}
                <p>Excedes el número de unidades que se encuentran disponibles en stock, en caso de proceder con el pago
                    recibirá el pedido más tarde<p>
                        {{/comp}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<br><br>
<div class="rowhey">
    <div class="huju">
        <strong>Total: {{totalPrice}} €</strong>
    </div>
</div>
<hr>
<div class="row">
    <div class="checkoutHolder" style="margin-left: 15px">
        <a href="/pago" type="button" class="btn btn-success">Realizar Pago<i class="fab fa-stripe"></i></a>
    </div>
</div>
<div class="row">
    <div class="checkoutHolder" style="margin-left: 15px">
        <a href="/pago" type="button" class="btn btn-primary">Realizar Pago<i class="fab fa-cc-paypal"></i></a>
    </div>
</div>
{{else}}
<br><br><br><br><br>
<div class="empty-cart">
    <h1>Oops!</h1>
    <br>
    <br>
    <h3>Tu carro está vacio</h3>
    <br>
    <a href="/shop"
        style="background-color: #f44336; color: white; border-radius: 5px; padding: 10px; text-decoration: none;">Continue
        shopping</a>
</div>
</div>
{{/if}}