<style>
    form {
        display: inline;
    }
</style>


<div class="container p-5">
    <br><br>
    <h4 class="h10w">- Todos los Productos -</h4>
    <br>


    <a href="/products/add" class="btn  buttonn  transparent-background naranja allborders animated bounceInUp"><i
            class="fas fa-plus"></i> Añadir nuevo artículo</button></a>

        {{#if products}}
        <br><br>
        <br>
        <div class="rowhey">
            <div class="huju">
                {{#each products}}
                <ul class="list-group ">
                    <li class="list-group-item colorfondopanel bordertop animated bounceInUp">

                        <div class="thumbnail3"> <br>
                            <h4 class="titulos"> Nombre articulo: {{this.title}}</h4>
                            <img class="img-responsive " src="{{this.imagePath}}" alt="..."><br>
                            <br>
                            <div class="h5w">Descripcion: {{this.description}}</div>
                            <br>
                            <div class="h5w">Precio: {{this.price}}</div>
                            <br>
                            <div class="h5w">Stock: {{this.cantidad}}</div>
                            <br>
                            <br>

                            <form action="/products/delete/{{_id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <a href="/products/edit/{{_id}}"
                                    class="btn buttonn  transparent-background naranja allborders borde30">Modificar<i
                                        class="fas fa-cog"></i></button></a>
                            </form>

                            <form action="/products/delete/{{_id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn  negro buttonb allbordersgris borde30 "
                                    style="float: right;">Eliminar <i class="fas fa-trash"></i></button>
                            </form>

                        </div>
                    </li>
                    <hr>
                </ul>
                {{/each}}
            </div>
        </div>
        <br><br>
        {{else}}
        <br><br><br><br><br>
        <div class="empty-cart">
            <h1>No hay Productos disponibles</h1>
        </div>
</div>
{{/if}}
</div>