<style>
    .pedido-tramitado {
        background-color: rgb(22, 202, 22);
    }

    .pedido-sintramitar {
        background-color: rgb(223, 92, 16);
    }
</style>



{{#if orders}}
<div class="rowhey">
    <div class="huju">
        {{#each orders}}

        <ul class="list-group">
            {{#if this.tramitado}}
            <li class="list-group-item pedido-tramitado">
                {{else}}
            <li class="list-group-item pedido-sintramitar">
                {{/if }}
                <div class="badge">Nombre: {{this.name}}</div>
                <br>
                <div class="badge">Dirección: {{this.address}}</div>
                <br>
                <div class="badge">Pago: {{this.cart.totalPrice}} €</div>
                <br>
                <div class="badge">Unidades {{this.cart.totalQty}}</div>
                <br>
                <div class="badge">Carro{{this.cart.item._id}}</div>
                <br><br>
                <b style="font-size:12px">Id del pedido: {{this.paymentId}}</b>
                <div class="form-group float-sm-right ">
                    <button class="btn btn-dark" >
                        Gestionar
                    </button>
                </div>
            </li>
            <hr>
        </ul>
        {{/each}}
    </div>
</div>
<br><br>

{{else}}
<br><br><br><br><br>
<div class="empty-cart">
    <h1>No hay Pedidos disponibles</h1>
</div>
</div>
{{/if}}