{{#if users}}
<div class="container p-5">
<div class="rowhey">
    <div class="huju">
        {{#each users}}
        <ul class="list-group">
            <li class="list-group-item"> 
                <div class="badge"> Nombre: <b >{{this.nombre}}</b></div>
                <br>
                <div class="badge">Apellido: {{this.apellido}}</div>
                <br>
                <div class="badge">Calle: {{this.calle}}</div>
                <br>
                <div class="badge">Tlf: {{this.tlf}}</div>
                <br>
                <div class="badge">Email: {{this.email}}</div>
                <br><br>
                {{#operaciones this.email '===' "admin@gmail.com"}}
                {{else}}
                <form action="/users/delete/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit"
              class="btn  btn-dark  btn-sm animated bounceInUp">Eliminar</button>
          </form>
          {{/operaciones}}
            </li>
            <hr>
        </ul>
        {{/each}}
    </div>
</div>
<br><br>
{{else}}
<br><br><br><br><br>
<div class="empty-cart">
    <h1>No hay Usuarios disponibles</h1>
</div>
</div>
</div>
{{/if}}
