<style>
    .pedido-tramitado {
        background-color: rgb(22, 202, 22);
    }

    .pedido-sintramitar {
        background-color: rgb(223, 92, 16);
    }
</style>




{{#if orders}}
<div class="container p-5">
    <br><br>
    <h4 class="h10w">- Todos los Pedidos -</h4>
    <br>


    <div class="rowhey">
        <div class="huju">
            {{#each orders}}

            <ul class="list-group">
                {{#if this.tramitado}}
                <li class="list-group-item colorfondopanel bordertopv animated bounceInUp">
                    {{else}}
                <li class="list-group-item  colorfondopanel bordertop animated bounceInUp">
                    {{/if }}
                    <div class="titulos">Nombre: {{this.name}}</div>
                    <br>
                    <div class="titulos">Dirección: {{this.address}}</div>
                    <br>
                    <div class="titulos"> Productos:</div>
                    <br>
                    {{#each this.cart.items}}

                    <div class="thumbnail3" style="margin-left: 30px;">
                        <div class="h5w"> {{item.title}}</div>
                        <hr class="blanco">
                        <img class="img-responsive " src="{{item.imagePath}}" alt="..."><br>

                        <div class="h5w"> {{item.description}}</div>
                        <br>

                        <div class="h5w">Uds: {{qty}}</div>
                        <br>
                        <div class="h5w">Precio: {{item.price}} €</div>

                        <br>
                        <br>
                    </div>
                    {{/each}}

                    <div class="titulos">Pago Total: {{this.cart.totalPrice}} €</div>
                    {{#if this.tramitado}}
                    <div class="titulos" style="float: right; color:rgb(22, 202, 22);">Enviado</div>
                    {{else}}
                    <input type="hidden" name="_method">
                    <a href="/orders/edit/{{_id}}"
                        class="btn buttonn  transparent-background naranja allborders borde30"
                        style="float: right;">Gestionar<i class="fas fa-cog"></i></button></a>
                    {{/if}}
                </li>
                <hr>
            </ul>
            {{/each}}
        </div>
    </div>
    <br><br>

    {{else}}
    <br><br><br><br><br>
    <div class="empty-cart">
        <h1>No hay Pedidos disponibles</h1>
    </div>
</div>
</div>
{{/if}}