<div class= container>
  <div class="row" >
    {{#each dogs}}<!--Recorremos todos los perros-->
    <div class="col-md-6 p-3 " >
      <div class="card  bg-custom-1 border-dark rounded shadow-lg mb-5 animated bounceInUp">
        <div class="card-body  font-weight-bold boxshadow ">
          <h4 class="card-title d-flex justify-content-between align-items-center font-weight-bold">
            {{nombreperro}} <a href="/dogs/edit/{{_id}}"><i class="fa fa-paw"></i></a>
          </h4>
          <img class="mx-auto d-block foto m-4" src="/img/{{raza}}.jpg" alt="Foto">


          <p><i class="fa fa-bone"></i> Raza: {{raza}}</p>
          <p><i class="fa fa-calendar-alt"></i> Edad: {{edadperro}}</p>
          <p><i class="fa fa-address-card"></i> Desc:  {{descripcion}}</p>
          <p><i class="fa fa-phone"></i> Tlf.Dueño: {{tlfd}}</p>
          <p><i class="fa fa-phone"></i> Tlf.Clinica: {{tlfc}}</p>
          <hr>

          <!-- GenerarQR-->
            <form action="/dogs/qr/{{_id}}" method="GET">
            <button type="submit" class="btn buttonshadow btn-success negro font-weight-bold  btn-block btn-sm animated bounceInUp">Generar QR</button></form>
          <hr>

            <!-- Eliminar Perro -->
          <form action="/dogs/delete/{{_id}}?_method=DELETE" method="POST">
              <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn buttonshadow btn-danger negro font-weight-bold btn-block btn-sm animated bounceInUp">Eliminar</button>
          </form>
        </div>
      </div>
    </div>
    {{else}}<!--En caso de que no haya un perro creado-->
    <div class="card mx-auto bg-custom-1 border-dark rounded text-center animated bounceInLeft boxshadow">
      <div class="card-body shadow-lg">
        <h1>Bienvenido {{user.nombre}}</h1>
        <p clsss="lead">Todavia no hay perros registrados</p>
        <a href="/dogs/add" class="btn  buttonshadow btn-success btn-block  negro">Crear Perfil Perro</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>
