<div class="container p-5">
  <br>
  <div class="container-fluid">
    <div class="row">
      {{#each dogs}}
      <!--Recorremos todos los perros-->
      <div class="col-md-6 p-3 negro ">
        <div class="card mb-5 colorfondopanel bordertopg shadow-lg">
          <div class="card-body">
            <h4 class="card-title d-flex justify-content-between align-items-center font-weight-bold h3w ">
              <!--Editamos perros-->
              {{nombreperro}} <a href="/dogs/edit/{{_id}}"><i class="fa fa-paw fa-lg"></i></a>

            </h4>
            <hr class="grisclaro">
            <img class="mx-auto d-block foto m-4" src="/img/{{raza}}.jpg" alt="Foto">


            <p class="h4w"><i class="fa fa-bone"></i> Raza: {{raza}}</p>
            <p class="h4w"><i class="fa fa-calendar-alt"></i> Edad: {{edadperro}}</p>
            <p class="h4w"><i class="fa fa-address-card"></i> Desc: {{descripcion}}</p>
            <p class="h4w"><i class="fa fa-phone"></i> Tlf.Dueño: {{tlfd}}</p>
            <p class="h4w"><i class="fa fa-phone"></i> Tlf.Clinica: {{tlfc}}</p>
            <br>



            <!-- GenerarQR-->
            <form action="/dogs/qr/{{_id}}" method="GET">
              <button type="submit"
                class="btn  buttonn  transparent-background naranja allborders borde30 btn-block">Generar
                QR</button></form>
            <br>

            <!-- Eliminar Perro -->
            <form action="/dogs/delete/{{_id}}?_method=DELETE" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit"
                class="btn  negro buttonb allbordersgris  btn-block borde30 ">Eliminar</button>
            </form>
          </div>
        </div>
      </div>
      {{else}}
      <!--En caso de que no haya un perro creado-->

      <div class="card mx-auto colorfondopanel bordertop text-center animated bounceInUp ">

        <div class="card-body shadow-lg ">
          <div><br><br></div>
          
          <h1 class="h3w">Bienvenido {{user.nombre}}</h1>
          {{#operaciones user.email '!==' "admin@gmail.com"}}
          <hr class="grisclaro">
          <br><br>
          <div>
          <p class="lead">Todavia no hay perros registrados...</p>
          <p class="lead">Prueba a crear un nuevo perfil para tu mascota!</p>
          <br>
          <a href="/dogs/add" class="btn  buttonn  transparent-background naranja allborders borde30">Crear Perfil Perro</a>
          <br>
          {{/operaciones}}
        </div>
        <div><br><br></div>

      </div>
      
      {{/each}}
    </div>
    
  </div>
  <br><br><br><br><br><br><br><br><br><br><br>

</div>